body, html{
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.column1, .column2, .column3, .column4{
  	width: 400px;
  	float: left;
  	display: inline-block;
  	padding-bottom: 100px;
  	white-space: normal;
  	overflow-y: auto;
}

.portlet {
	margin: 0 1em 1em 0;
	-webkit-border-top-left-radius: 10px!important;
	-webkit-border-top-right-radius: 10px!important;
	-webkit-border-bottom-left-radius: 0px!important;
	-webkit-border-bottom-right-radius: 0px!important;
	-moz-border-radius-topleft: 10px!important;
	-moz-border-radius-topright: 10px!important;
	-moz-border-radius-bottomleft: 0px!important;
	-moz-border-radius-bottomright: 0px!important;
	border-top-left-radius: 10px!important;
	border-top-right-radius: 10px!important;
	border-bottom-left-radius: 0px!important;
	border-bottom-right-radius: 0px!important;
	background: white;
	cursor: move;
	-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
-moz-box-shadow:    0px 0px 20px rgba(0, 0, 0, 1);
box-shadow:         0px 0px 20px rgba(0, 0, 0, 1);
}
.portlet-header {
	margin: 0;
	-webkit-border-top-left-radius: 10px!important;
	-webkit-border-top-right-radius: 10px!important;
	-webkit-border-bottom-left-radius: 0px!important;
	-webkit-border-bottom-right-radius: 0px!important;
	-moz-border-radius-topleft: 10px!important;
	-moz-border-radius-topright: 10px!important;
	-moz-border-radius-bottomleft: 0px!important;
	-moz-border-radius-bottomright: 0px!important;
	border-top-left-radius: 10px!important;
	border-top-right-radius: 10px!important;
	border-bottom-left-radius: 0px!important;
	border-bottom-right-radius: 0px!important;
	padding-bottom: 4px;
	padding-left: 0.2em;
	background: #dfdfdf;
	font-family: 'quantico' sans-serif;
	font-weight: 400;
	font-size: 17px;
	line-height: 25px;
	text-indent:10px;
	height: 20px;
}
.portlet-header .ui-icon {
	float: right;
}
.portlet-content {
	padding: 0.4em;
}
.ui-sortable-placeholder {
	border: 1px dotted #616161;
	background: rgba(0,0,0,0.3);
	visibility: visible !important;
	height: 80px !important;
}
.ui-sortable-placeholder * {
	visibility: hidden;
}

.portlet:first-child{
-webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
-moz-box-shadow:    0px 0px 20px rgba(255, 255, 255, 1);
box-shadow:         0px 0px 20px rgba(255, 255, 255, 1);
}

.portlet:active{
-webkit-box-shadow: 0px 0px 40px rgba(255, 255, 255, 1);
-moz-box-shadow:    0px 0px 40px rgba(255, 255, 255, 1);
box-shadow:         0px 0px 40px rgba(255, 255, 255, 1);
}

.ui-icon-minusthick, .ui-icon-plusthick{
	margin-right: 6px!important;
	margin-top: 5px!important;
	cursor: pointer;
}
.bar{
	width: 100%;
	height: 20px;
	background: black;
	position: relative;
	cursor: default
}
.tijd{
	color: #c6c6c6;
	font-size: 10px;
	right: 38px;
	margin-top: 3px;
	position: absolute;
	text-align: right;
}
.prio1, .prio2, .prio3{
	width: 20px!important;
	height: 20px!important;
	position: absolute;
	margin-bottom: 3px;
	border-right: 1px solid white;
	color: white;
	text-align: center;
}
.delete{
	width: 28px!important;
	height: 20px!important;
	position: absolute;
	margin-bottom: 3px;
	right: 0;
	
	background: url('img/prullenbak.png');
	background-repeat: no-repeat;
	background-size: auto 90%;
	background-position: center center;
	color: white;
	cursor: pointer;
}
.delete:hover{
	background: url('img/prullenbak.png'), #c30000;
	background-repeat: no-repeat;
	background-size: auto 90%;
	background-position: center center;
}
.zetterug{
	width: 70px;
	white-space: nowrap;
	line-height: 20px;
	height: 20px;
	background: url('img/zetterug.png');
	background-size: auto 70%;
	background-repeat: no-repeat;
	background-position: left center;
	position: absolute;
	left: 80px;
	color: #5ad3f0;
	font-size: 10px;
	text-align: right;
	cursor: pointer;
}
.zetterug:hover{
	text-decoration:underline; 
}
#touw{
	width: 1600px;
	position: absolute;
	left: 50%;
	margin-left: -800px;
	top: 20px;
	bottom: 0;
}
#cats{
	width: 1600px;
	position: absolute;
	
	
	height: 50px;
	z-index: 100;
	background: rgba(255,255,255,0.8);
}
#cats > span{
	font-family: 'quantico' sans-serif;
	font-weight:400;
	font-size: 40px;
	width: 400px;
	display: inline-block;
	white-space: nowrap;
	float: left;
	text-align: center;
}

#settings{
	width: 400px;
	height: 50px;
	position: absolute;
	border-radius: 5px;
	background: black;
	color: white;
	right: -5px;
	top:55px;

}
#toggleknop{
	position: relative;
	width: 135px;
	display: block;
	height: 25px;
	top:12px;
	left: 5px;
	line-height: 28px;
	cursor: pointer;
	border-right: 1px solid white;	
	text-align: right;
	white-space: nowrap;
	}
#toggleknop > span, #refreshknop > span, #naararchief > span{
	padding-right: 12px;
}
#toggleknop:active, #refreshknop:active{
	text-decoration: underline;
}
#pijltje{
	width: 25px;
	height: 25px;
	background: url('img/pijl.png');
	background-size: contain;
	float: left;
}
#refreshknop{
	position: absolute;
	width: 100px;
	display: block;
	height: 25px;
	top:12px;
	margin-left: 150px;
	line-height: 28px;
	cursor: pointer;
	border-right: 1px solid white;	
	text-align: right;
	white-space: nowrap;
}
#refresh{
	width: 25px;
	height: 25px;
	background: url('img/refresh.png');
	background-size: contain;
	float: left;
	-webkit-animation: rotation 4s infinite ease-in-out 5s ;
}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
#naararchief{
	background: url('img/huisje.png');
	background-size: contain;
	background-position: left center;
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	display: block;
	height: 25px;
	top:12px;
	margin-left: 257px;
	line-height: 28px;
	cursor: pointer;	
	text-align: right;
	white-space: nowrap;
}

@media  screen and (max-width: 1180px){
body {
	min-width: 520px;
	background: url('img/archiefbg.png');
	background-repeat: no-repeat;
	background-size:1180px auto;
	background-position: center top;
		font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 14px;
}
#settings{
	width: 400px;
	height: 50px;
	position: absolute;
	left: 50%;
	margin-left: -200px;
	border-radius: 5px;
	background: black;
	color: white;
	right: -5px;
	top:-5px;

}
#touw{
	width: 400px;
	overflow:hidden;
	position: absolute;
	left: 50%;
	margin-left: -200px;
	top: 20px;
	bottom: 0;
	white-space: nowrap;
}
#dejongens{
	width: 100%;
	background: url('img/patternZWART.png');
	background-repeat: repeat;
	position: absolute;
	top: 200px;
	bottom: 0;
-webkit-box-shadow: 0px 1px 130px rgba(0, 0, 0, 1);
-moz-box-shadow:    0px 1px 130px rgba(0, 0, 0, 1);
box-shadow:         0px 1px 130px rgba(0, 0, 0, 1);
}
#allecolumns{
	width: 1600px;
	position: absolute;
	margin-left: 6px;
}
#allecats{
	width: 400px;
	left: 50%;
	position: absolute;
	margin-left: -200px;
	overflow: hidden;
	white-space: normal;
	top:150px;
	height: 50px;
}
#counter{
	display: none;
}
#minicounter{
	position: absolute;
	width: 239px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid #d0d0d0;
	background: url('img/counter_bottom.png');
	background-repeat: no-repeat;
	background-size: 240px 50px;
	background-position: 20 center;
	left: 50%;
	margin-left: -120px;
	top:74px;
	-moz-box-shadow:inset 0px 0px 9px 2px rgba(0, 0, 0, 1);
-webkit-box-shadow:inset 0px 0px 9px 2px rgba(0, 0, 0, 1);
box-shadow:inset 0px 0px 9px 2px rgba(0, 0, 0, 1);

}
#kwart1{
	width: 60px;
	position: absolute;
	margin-left: 0px;
	height: 100%;
	cursor: pointer;
	
}
#kwart2{
	width: 60px;
	position: absolute;
	margin-left: 60px;
	height: 100%;
	cursor: pointer;

}
#kwart3{
	width: 60px;
	position: absolute;
	margin-left: 120px;
	height: 100%;
	cursor: pointer;


}
#kwart4{
	width: 60px;
	position: absolute;
	margin-left: 180px;
	height: 100%;
	cursor: pointer;

}
#minicountslide{
	position: absolute;
	width: 60px;
	height: 48px;
	bottom: 0px;
	border: 1px solid #b8b8b8;
	margin-left: 0px;
	border-radius: 4px;
	background: url('img/counter_top.png'),white;
	background-repeat: no-repeat;
	background-size: 240px 50px;
	background-attachment: fixed;
	background-position: 50% 75px;
-moz-box-shadow:inset 0px 0px 10px 0px #b8b8b8;
-webkit-box-shadow:inset 0px 0px 10px 0px #b8b8b8;
box-shadow:inset 0px 0px 10px 0px #b8b8b8;
	

}
}


@media  screen and (min-width: 1180px) and (max-width: 1560px){
body {
	min-width: 520px;
	background: url('img/archiefbg.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center top;
		font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 14px;
}
#settings{
	width: 400px;
	height: 50px;
	position: absolute;
	border-radius: 5px;
	background: black;
	color: white;
	right: -5px;
	top:55px;

}
#touw{
	width: 1200px;
	overflow:hidden;
	position: absolute;
	left: 50%;
	margin-left: -600px;
	top: 20px;
	bottom: 0;
	white-space: nowrap;
}
#dejongens{
	width: 100%;
	background: url('img/patternZWART.png');
	background-repeat: repeat;
	position: absolute;
	top: 200px;
	bottom: 0;
-webkit-box-shadow: 0px 1px 130px rgba(0, 0, 0, 1);
-moz-box-shadow:    0px 1px 130px rgba(0, 0, 0, 1);
box-shadow:         0px 1px 130px rgba(0, 0, 0, 1);
}
#allecolumns{
	width: 1600px;
	position: absolute;
	margin-left: 6px;
}
#allecats{
	width: 1200px;
	left: 50%;
	position: absolute;
	margin-left: -600px;
	overflow: hidden;
	white-space: normal;
	top:150px;
	height: 50px;
}
#minicounter, #minicountslide{
	display: none;
	}
#counter{
	position: absolute;
	width: 239px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid #d0d0d0;
	background: url('img/counter_bottom.png');
	background-repeat: no-repeat;
	background-size: 240px 50px;
	background-position: center center;
	left: 50%;
	margin-left: -120px;
	top:54px;
	-moz-box-shadow:inset 0px 0px 9px 2px rgba(0, 0, 0, 1);
-webkit-box-shadow:inset 0px 0px 9px 2px rgba(0, 0, 0, 1);
box-shadow:inset 0px 0px 9px 2px rgba(0, 0, 0, 1);
	cursor: pointer;
}
#countslide{
	position: absolute;
	width: 180px;
	height: 48px;
	bottom: 0px;
	border: 1px solid #b8b8b8;
	margin-left: 0px;
	border-radius: 4px;
	background: url('img/counter_top.png'),white;
	background-repeat: repeat-x;
	background-size: 240px 50px;
	background-attachment: fixed;
	background-position: 50% 55px;
-moz-box-shadow:inset 0px 0px 10px 0px #b8b8b8;
-webkit-box-shadow:inset 0px 0px 10px 0px #b8b8b8;
box-shadow:inset 0px 0px 10px 0px #b8b8b8;
	pointer-events: none;

}
}
@media  screen and (min-width: 1560px){
body {
	min-width: 520px;
	background: url('img/archiefbg.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center top;
		font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 14px;
}
#settings{
	width: 400px;
	height: 50px;
	position: absolute;
	border-radius: 5px;
	background: black;
	color: white;
	right: -5px;
	top:55px;

}
#touw{
	width: 1600px;
	position: absolute;
	left: 50%;
	margin-left: -800px;
	top: 20px;
	bottom: 0;
}
#dejongens{
	width: 100%;
	background: url('img/patternZWART.png');
	background-repeat: repeat;
	position: absolute;
	top: 200px;
	bottom: 0;
-webkit-box-shadow: 0px 1px 130px rgba(0, 0, 0, 1);
-moz-box-shadow:    0px 1px 130px rgba(0, 0, 0, 1);
box-shadow:         0px 1px 130px rgba(0, 0, 0, 1);
}
#allecolumns{
	width: 1600px;
	position: absolute;
	margin-left: 6px!important;
}
#cats{
	margin-left: 6px!important;
	}
#allecats{
	left: 50%;
	margin-left: -800px;
	position: absolute;
	top:150px;
	height: 50px;
}
#counter,#minicounter, #minicountslide{
	display: none;

}
}